window {
    size width=700 height=800
    anchor right
    layer overlay
    margin top=0 right=200 bottom=0 left=0
    fontsize 30
    background-color "#0000007f"
    border-radius 15
    padding 20
    font "/usr/share/fonts/TTF/JetBrainsMonoNerdFontMono-Regular.ttf"
}

widgets date time kernel img button

define-widget date preset=datetime {
    timezone "Europe/Vienna"
    format " %d.%m.%Y" // the format string is parsed by std::strftime (https://en.cppreference.com/cpp/chrono/c/strftime)
}

define-widget time preset=datetime {
    timezone "Europe/Vienna"
    format " %H:%M"
}

define-widget kernel preset=kernel {
    format "{sysname} {nodename} {release} {machine}"
}

define-widget say_hello preset=custom {
    run-sh "echo hello"
}

define-widget img preset=image {
    path image.png
    scaling 1.0
}

define-widget button preset=button {
    label "hello"
    on_click "chromium"
}
