// configure the appearance and behavior of the window
window {
    size width=700 height=800
    anchor right
    layer overlay // https://wayland.app/protocols/wlr-layer-shell-unstable-v1#zwlr_layer_shell_v1:enum:layer
    margin top=0 right=200 bottom=0 left=0

    style {
        font "JetBrainsMonoNerdFontMono" // this may be a fontconfig-compatible string
        fontsize 30
        background-color "#0000007f"
        border-radius 15
        padding 20
    }
}

// declare the widgets you are going to use.
declare-widgets date time kernel button say_hello img memory

// define the widgets which may be used in the list of declared widgets.
// a widget definition must contain a name (used in declare-widgets), aswell as a preset.
// a preset is a builtin-widget that can be configured by a widget definition.
// some presets have required properties, that must be specified, others have a default value
// and may be omitted.

define-widget date preset=datetime {
    timezone "Europe/Vienna"
    format " %d.%m.%Y" // the format string is parsed by std::strftime (https://en.cppreference.com/cpp/chrono/c/strftime)
}

define-widget time preset=datetime {
    timezone "Europe/Vienna"
    format " %H:%M"
}

define-widget kernel preset=kernel {
    format "{sysname} {nodename} {release} {machine}"
}

define-widget say_hello preset=custom {
    command "cowsay hello" // required
}

define-widget img preset=image {
    path image.png // required
    scaling 0.25
}

define-widget button preset=button {
    label "hello"       // required
    on_click "chromium" // required

    style {
        frame_padding 20
        frame_rounding 20
    }
}

define-widget memory preset=memory {
}